


.heading{
  font-weight: 900;
  text-align: center;
  font-size: 60px;
}

.grid-container{
  display:grid;
  grid-template-columns: 1fr 3fr 2.5fr 2fr 2fr 2fr;
  grid-template-rows: 40px auto;
  gap: 5px;
}


.grid-item{
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  
}

.red{
  color:red;
}

.green{
  color:rgb(0, 168, 62);
}